@model DrinksVendingMachine.Models.ModelView

@{
    ViewBag.Title = "Автомат по продаже напитков";
}

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Монетоприемник</h2>
<div id="coins-button-container">

    @foreach (var item in Model.Coins)
    {
        if (item.IsBlocking)
        {
            <button style="width: 100px; background: lightcoral; " disabled="disabled">@((int)item.Value)</button>
        }
        else
        {
            <button style="width: 100px;" onclick="addCoin('@item.Id')">@((int)item.Value)</button>
        }
    }

    <p style="margin-top: 20px">Внесенная сумма:<span id="totalSum" style="font-weight: bold; font-size: 15pt">0</span> р.</p>
    <p style="margin-top: 20px">Сдача:<span id="change" style="font-weight: bold; font-size: 15pt">0</span> р.</p>

    <button id="button-buy" disabled="disabled" onclick="buy()">Купить</button>
    <button id="button-cancel" disabled="disabled" onclick="cancel()">Отмена</button>
    <button id="button-take-money" disabled="disabled" onclick="takeMoney()">Забрать сдачу</button>

</div>

<h2>Напитки</h2>
<div style="width: 50%">
    @foreach (var item in Model.Drinks)
    {
        <div id="drinkInfo" style="display: inline-block;">
            <img id="img_@item.Id" class="img img-hover" src="/Content/Images/@item.Image" onclick="imageClick('@item.Id', '@item.CostPrice', @item.Count)" />
            <p>@item.CostPrice</p>
        </div>
    }
    <input type="hidden" id="drink-id">
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#totalSum").text(@Model.Deposit);
        $("#change").text(@Model.Change);
        if (@Model.Change > 0 && @Model.Deposit === 0) {
            $("#button-take-money").removeProp('disabled');
        }
    });

    imageClick = function(id, cost, count) {

        var totalSum = parseInt($('#totalSum').text());
        var c = parseInt(cost);
        var cnt = parseInt(count);

        if (totalSum < c || cnt < 1) {
            return;
        }

        var image = $(`#img_${id}`);

        if (!image.hasClass('img-hover')) {
            return;
        } else {
            image.addClass('img-choosen');
            $("#drinkInfo img").removeClass('img-hover');
            $("#button-buy").removeProp('disabled');
            $("#button-cancel").removeProp('disabled');
            $("#drink-id").val(id);
        };
    }

    cancel = function() {
        $("#drinkInfo img").removeClass('img-choosen');
        $("#drinkInfo img").addClass('img-hover');
        $("#button-buy").prop('disabled', true);
        $("#button-cancel").prop('disabled', true);
        $("#drink-id").val("");
    }

    buy = function() {
        var url = '/User/BuyDrink';
        var id = $("#drink-id").val();
        var data = { id: id };
        
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(response) {
                if (response != null) {
                    $("#totalSum").text(0);
                    $("#change").text(response.change);
                    if (response.change > 0) {
                        $("#button-take-money").removeProp('disabled');
                    }
                    cancel();
                }
            },
            error: processErrorStd
        });
    }

    takeMoney = function() {
        var url = '/User/GetChange';
        $.ajax({
            type: "GET",
            url: url,
            success: function() {
                $("#button-take-money").prop('disabled', true);
                $("#change").text(0);
            },
            error: processErrorStd
        });
    }

    addCoin = function(id) {
        var url = '/User/AddCoin';
        var data = { id: id };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(response) {
                if (response != null) {
                    $("#totalSum").text(response.deposit);
                    $("#button-take-money").prop('disabled', true);
                }
            },
            error: processErrorStd
        });
    };

    processErrorStd = function(xhr, status, error) {
        console.log("AJAX request error!");
        console.log("  xhr:");
        console.log(xhr);
        console.log("  status=" + status);
        console.log("  error=" + error);
        alert(error);
    };
</script>