@model DrinksVendingMachine.Models.Classes.ModelView

@{
    ViewBag.Title = "Автомат по продаже напитков";
}

<script type="text/javascript" src="~/Scripts/js/user.js"></script>

<h2>Монетоприемник</h2>
<div id="coins-button-container">

    @foreach (var item in Model.Coins)
    {
        if (item.IsBlocking)
        {
            <button style="width: 100px; background: lightcoral; " disabled="disabled">@((int)item.Value)</button>
        }
        else
        {
            <button style="width: 100px;" onclick="userManager.addCoin('@item.Id')">@((int)item.Value)</button>
        }
    }

    <p style="margin-top: 20px">Внесенная сумма:<span id="totalSum" style="font-weight: bold; font-size: 15pt">0</span> р.</p>
    <p style="margin-top: 20px">Сдача:<span id="change" style="font-weight: bold; font-size: 15pt">0</span> р.</p>

    <button id="button-buy" disabled="disabled" onclick="userManager.buy()">Купить</button>
    <button id="button-cancel" disabled="disabled" onclick="userManager.cancel()">Отмена</button>
    <button id="button-take-money" disabled="disabled" onclick="userManager.takeMoney()">Забрать сдачу</button>

</div>

<h2>Напитки</h2>
<div style="width: 50%">
    @foreach (var item in Model.Drinks)
    {
        <div id="drinkInfo" style="display: inline-block;">
            <img id="img_@item.Id" class="img img-hover" src="/Content/Images/@item.Image" onclick="userManager.imageClick('@item.Id', '@item.CostPrice', @item.Count)" />
            <p>@item.CostPrice</p>
        </div>
    }
    <input type="hidden" id="drink-id">
</div>

<script type="text/javascript">

    var userManager = new UserManager();

    $(document).ready(function () {
        $("#totalSum").text(@Model.Deposit);
        $("#change").text(@Model.Change);
        if (@Model.Change > 0 && @Model.Deposit === 0) {
            $("#button-take-money").removeProp('disabled');
        }
    });


</script>